/* CSS declarations go here */
.container {
    padding: 0 0 10px 0;
    min-width: 500px;
    max-width: 1000px;
}

.jumbotron {
    margin-bottom:0;
}

#allTasksList {
    margin-right: 15px;
    margin-left: 15px;
}

form div {
    margin-bottom: 10px;
}

.title {
    margin-top: 15px;
    text-align: center;
    font-size: 1em;
}

.title div {
    border-right: 1px solid grey;
}

.title div p {
    margin: 0;
}

#addATaskOuterDiv {
    margin: 0 15px;
    padding-top:50px;
}

#addATaskForm div {
    padding: 0 3px;
}

#addATaskForm div #supportText {
    font-size: 0.7em;
    font-weight: 600;
}

#loginBox {
    border:2px solid gray;
    padding:5px
}